<!DOCTYPE html>
<html>
  <head>
    <title>Mynewrecipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  
  <footer class="primary-footer">
    
      <p class="center grid">
        2020 <small>&copy; jazzari</small>    
        <a href="https://github.com/jazzari">Visit my GitHub</a>
      </p>

  </footer>
</html>
